n8n-Translate.json
{
  "name": "n8n Ttranslate",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -80
      ],
      "id": "2b9b19f4-62e9-4465-976d-6da4981c1d9c",
      "name": "Telegram Trigger",
      "webhookId": "7480e54e-b812-45e9-b029-f28f0f85ffe7",
      "credentials": {
        "telegramApi": {
          "id": "9VOgfBV18JTCuAn1",
          "name": "Text Translate"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Translate this text and answer just with the translated text : {{ $json.message.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -80,
        -80
      ],
      "id": "5310321f-bed3-40e4-a541-9e01061fba2c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -80,
        176
      ],
      "id": "ae951653-2306-400c-a6e7-eb230c184088",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "keRtpt9gAIT0IIVh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        -80
      ],
      "id": "bf0117f0-b145-4750-8811-899cc561f35c",
      "name": "Send a text message",
      "webhookId": "5bb25675-38e7-47ef-ad37-6e350cd1c3b4",
      "credentials": {
        "telegramApi": {
          "id": "9VOgfBV18JTCuAn1",
          "name": "Text Translate"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6376ddf9-affb-4c4f-a080-163919304205",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f13f1ee29681bd43a3955123f5d589eaf3f8f20e395ba70d8005bdec474d0fc4"
  },
  "id": "99sRubs4Sr8wbn2H",
  "tags": []
}
