Workflows/Short-Answer.json
{
  "name": "One line ANSWER",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -64
      ],
      "id": "4e830768-4f1b-4e3c-ae20-dd4946eec6fd",
      "name": "Telegram Trigger",
      "webhookId": "11a6f5a3-ee8f-4e29-bc67-4a27e9c72ac3",
      "credentials": {
        "telegramApi": {
          "id": "6dm3XbpB95R7s6SY",
          "name": "One Line Answer"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please give a direct, short answer and summarize everything as briefly as possible :   {{ $json.message.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -16,
        -64
      ],
      "id": "bcc8c509-4b33-4596-890f-8405711e3f09",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -16,
        176
      ],
      "id": "a7d71d14-d1d5-4686-8947-000bc982c431",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "keRtpt9gAIT0IIVh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -64
      ],
      "id": "85a8a4a9-f8ff-4b9a-b352-546cbce00e21",
      "name": "Send a text message",
      "webhookId": "cccd25fa-2a9a-4340-a375-6fba7c0561a9",
      "credentials": {
        "telegramApi": {
          "id": "6dm3XbpB95R7s6SY",
          "name": "One Line Answer"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc5bae7a-d575-462f-95c6-b99c09bd365b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f13f1ee29681bd43a3955123f5d589eaf3f8f20e395ba70d8005bdec474d0fc4"
  },
  "id": "iEkfUfaoylhaoYNe",
  "tags": []
}